<%- include("./layout/header") %>

<a href="/" type="button" class="btn btn-secondary">Go Back</a>

    <form method="POST"  style="margin: 30px;"  action=/FEED/edit/ <%= result.id %> >
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Edit a post</label>
        <input name="title" type="text" value=<%= result.title %> class="form-control" >
        <% if (error && error.title) { %>
        <h1 style="color: crimson;"> <%= error.title.message %></h1>
        <% { %> 
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea name="Message" class="form-control" rows="3" value= <%= result.title %>></textarea>
        <% if (error && error.article) { %>
        <h1 style="color: crimson;"> <%= error.article.message %> </h1>
        <% { %> 
      </div>
      <button type="submit" class="btn btn-secondary">Submit</button>
    </form>

    <%- include("./layout/footer") %>